#######################################################################
#
# Copyright (C) 2020-2026 David C. Harrison. All right reserved.
#
# You may not use, distribute, publish, or modify this code without
# the express written permission of the copyright holder.
#
#######################################################################

openapi: '3.0.3'

info:
  description: CSE186 Assignment 5
  version: 0.1.0
  title: CSE186 Assignment 5

servers:
  - url: http://localhost:3010/api/v0

paths:
  /mail:
    get: # Should have content property removed
      description: Returns all EMail
      responses:
        200:
          description: Email Response
        404:
          description: Not Found
    post: 
      description: Save new email and return newly created
      responses:
        400: Unexpected Properties

  # WIP
  /mail?mailbox={mailbox}:
  get: # Should have content property removed
    description: Returns all EMails in 
     Specified Mailbox as an Array
    responses:
      404: Mailbox Unknown

  # WIP
  /mail/{id}:
    get: # Include Content Property
      description: Returns all EMail in Specified Mailbox
      responses:
        200:
          description: Email Response
        404:
          description: Not Found

  # WIP
  /mail/{id}?mailbox={mailbox}:
    put:
    description: Move email with id into named mailbox
    responses:
      409:
        description: If (named mailbox === 'sent') && mail id 
          not already in sent mailbox
