#######################################################################
#
# Copyright (C) 2020-2026 David C. Harrison. All right reserved.
#
# You may not use, distribute, publish, or modify this code without
# the express written permission of the copyright holder.
#
#######################################################################

openapi: '3.0.3'

info:
  description: CSE186 Assignment 5
  version: 0.1.0
  title: CSE186 Assignment 5

servers:
  - url: http://localhost:3010/api/v0

components:
  schemas:
    newEmail:
      description: Client Input
      to-name:
        type: string
        example: "CSE186 Student"
      to-email:
        type: string
        format: email
        example: "cse186-student@ucsc.edu"
      subject:
        type: string
        example: "Broderskab (Brotherhood)"
      content:
        type: string
        example: "Duis aliquam convallis nunc."

    Email:
      description: Email Data - Content
      id:
        type: string 
        format: uuid
        example: "591b428e-1b99-4a56-b653-dab17210b3b7"
      to-name: 
        type: string
        example: "CSE186 Student"
      to-email: 
        type: string
        format: email
        example: "cse186-student@ucsc.edu"
      from-name:
        type: string
        example: "Cherye O'Loughane"
      from-email:
        type: string 
        format: email
        example: "Cherye O'Loughane"
      subject:
        type: string
        example: "Broderskab (Brotherhood)"
      received:
        type: string 
        format: date-time
        example: "2020-07-07T00:18:37Z"

    Email+Content:
      description: Email Date + Content
      allOf: # Allows extra properties to be added
        - $ref: '#/components/schemas/Email'
        - type: object
          content:
            type: string
            example: "Duis aliquam convallis nunc."

paths:
  # GET Complete
  /mail:
    get: # Should have content property removed
      description: Return all Mail, Content Removed
      responses:
        200:
          description: List of Mail
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name: 
                      type: string
                      example: "inbox"
                    mail:
                      type: array
                      items: # Reuse Email Schema
                        $ref: '#/components/schemas/Email'
    post:
      description: Save new email and return newly created
      requestBody: # Client Input
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newEmail'
      201:
        description: Created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'  
      400:
        description: Unexpected properties

  # GET Complete
  /mail?mailbox={mailbox}:
  get:
    description: Returns all Emails in 
     Specified Mailbox as an Array
    parameters:
    - name: mailbox
      in: query
      required: true
    responses:
      200:
        description: Emails in Requested Mailbox
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name: 
                    type: string
                    example: "inbox"
                  mail:
                    type: array
                    items: # Reuse Email Schema
                      $ref: '#/components/schemas/Email'
      404: Mailbox Unknown

  # WIP
  /mail/{id}:
    get: # Include Content Property
      description: Returns email identified by ID
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          example: "591b428e-1b99-4a56-b653-dab17210b3b7"
      responses:
        200:
          description: Email by ID
          $ref: '#/components/schemas/Email+Content'
        404:
          description: Not Found

  # WIP
  /mail/{id}?mailbox={mailbox}:
    put:
      description: Make sure email has correct format
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          example: "591b428e-1b99-4a56-b653-dab17210b3b7"    
      responses:
      204:
        description: Check mailbox
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name: 
                    type: string
                    example: "inbox"
      404:
        description: If (named mailbox === 'sent') && mail id 
          not already in sent mailbox
